.views-field-field-service a{
    &[href="/drupal"]{
        color: #7CCBEC;
    }

    &[href="/app-dev"]{
        color: #ED7367;
    }

    &[href="/php-dev"]{
        color: #B989CB;
    }

    &[href="/web-dev"]{
        color: #50CCB2;
    }
}